.buy-button{
	color: white;
	padding: .5em 2em;
	border: 1px solid #A0A9B1;
	border-radius: 6px;
	background: #CF6F55;
	transition: 0.2s;
} 
.buy-button:hover{ 
	background: #E54B4B; 
	cursor: pointer;
}
.chat-button{
	position: fixed;
	bottom: 360px;
	right: 15px;
}
.chat-button:hover{ 
cursor: pointer;
}
.chat-frame{	
	position: fixed;
	bottom: 15px;
	right: 70px;
	border: 1px solid #A0A9B1;
	border-radius: 8px;
	background: #FFF;
}
.chat-header{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
	margin: 0 0;
	background: #CF6F55;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	resize: none;
}
.chat-input{
	position: fixed;
	bottom: 5px;
	border-radius: 3px;
	width: 240px;
	height: 40px;
	border: 1px solid #A0A9B1;
	margin: 4px;
	resize: none;
	font-family: 'Jura', sans-serif; 
}
.chat-window{
	box-sizing: border-box;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
    background: #FFF;
    height: 213px;
    width: 242px;
}
.message-cloud{	
	box-sizing: border-box;
	float: left;
	margin: 10px;
    padding: 0px 5px;
	text-align: left;
	display: none;
	font-family: 'Jura', sans-serif; 
    background: #7397D4;
	border: 1px solid #A0A9B1;
	border-radius: 6px;
}
ul.clear{
	list-style-type: none;
	text-align: left; 
	margin-left: 0;
	padding-left: 0;}
	ul.clear li {
		box-sizing: border-box;
		float: left;
		margin: 10px;
		padding: 0px 5px;
		display: none;
		text-align: left;
		font-family: 'Jura', sans-serif;
		background: #4DEFA9	;
		border: 1px solid #A0A9B1;
		border-radius: 6px;
	}