<!doctype html>
<html>
<head>
<title>Защитные стекла</title>
<meta charset="utf-8">
<link rel="shortcut icon" type="image/png" href="../../images/main-logo-small.png">
<link rel="stylesheet" href="../../bower_components/sculptor/css/sculptor.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../bower_components/noUiSlider/nouislider.css" >
</head>
<body class="pages-body">
	<div id="page-body">
        <main>
            <header>
                <div class="header">           
                    <div class="header-container">
                        <table class="header-table">
                            <tr>
                                <td style="width: 20%;">
                                    <table>
                                        <tr class="main-page-button" data-title="Вернуться на главную страницу">                                            
                                            <td><a href="../../index.html"><img ng-src='../../images/main-logo.png' width='40' height='40' style="margin-top: 5px;"></a></td>
                                            <td><a href="../../index.html"><h3 class="shop-title">Супер-магазин смартфонов ASUS</h3></a></td>                                            
                                        </tr>
                                    </table>                                
                                </td>
                                <td style="width: 60%;"><input class="search-input" placeholder="Поиск..." style="width: 100%"></td>
                                <td style='width: 20%;'><basket-directive path="../basket.html"></basket-directive></td>
                            </tr>
                        </table>                    
                    </div>
                </div>
            </header>
            <br><br><br>            

            <table style="width: 100%; margin-left: -3px;">
                <tr>
                    <td style="width: 20%; vertical-align: top;">
                        <ul class="shop-sections">
                            <li style="border-top: 1px solid #DCDCDC;" onclick="location.href='smartphones.html'"><span><img style="vertical-align: middle;" ng-src='../../images/nav_menu_sections/smartphones.png' width='20' height='20'>Смартфоны</span>
                            <li onclick="location.href='cases.html'"><span><img style="vertical-align: middle;" ng-src='../../images/nav_menu_sections/cases.png' width='20' height='20'>Чехлы</span>
                            <li onclick="location.href='glases.html'"><span><img style="vertical-align: middle;" ng-src='../../images/nav_menu_sections/glasses.png' width='20' height='20'>Защитные стекла</span>
                            <li onclick="location.href='headset.html'"><span><img style="vertical-align: middle;" ng-src='../../images/nav_menu_sections/headset.png' width='20' height='20'>Гарнитуры</span>
                            <li onclick="location.href='cards.html'"><span><img style="vertical-align: middle;" ng-src='../../images/nav_menu_sections/sd_card.png' width='20' height='20'>Карты памяти</span>
                            <li onclick="location.href='batterys.html'"><span><img style="vertical-align: middle;" ng-src='../../images/nav_menu_sections/battery.png' width='20' height='20'>Зарядки</span>
                            <li onclick="location.href='others.html'"><span><img style="vertical-align: middle;" ng-src='../../images/nav_menu_sections/other.png' width='20' height='20'>Другие аксессуары</span>
                        </ul>                 
                        <div class="filters">
                            <div style="margin-left: 5px;">
                                <p class="filter-name">Цена<p>  
                                <div id="slider" data-max="2000" data-step="100" style="width: 85%; height: 10px; margin: 15px;"></div> 
                                <input id="start_val" class="price-range" style="margin-left: 10px;" value="0"> 
                                <input id="end_val" class="price-range" style="margin-left: 100px;" value="30000">                              
                            </div>
                            <div style="margin-left: 5px;">
                                <p class="filter-name">Вид покрытия<p> 
                                <input type="checkbox" class="radio" id="type-radio1" />
                                <label for="type-radio1">Глянцевое</label><br><br>
                                <input type="checkbox" class="radio" id="type-radio2" />
                                <label for="type-radio2">Матовое</label><br><br>
                                <input type="checkbox" class="radio" id="type-radio3" />
                                <label for="type-radio3">Олеофобное</label>
                            </div>
                            <div style="margin-left: 5px;">
                                <p class="filter-name">Толщина<p>
                                <input type="checkbox" class="radio" id="thickness-radio1" />
                                <label for="thickness-radio1">0,1</label><br><br>
                                <input type="checkbox" class="radio" id="thickness-radio2" />
                                <label for="thickness-radio2">0,2</label><br><br>
                                <input type="checkbox" class="radio" id="thickness-radio3" />
                                <label for="thickness-radio3">0,3</label>
                            </div>
                            <div style="padding-top: 40px;">                         
                                <button class="filter-accept-button">Применить</button>
                                <button class="filter-reset-button">Сбросить</button>    
                            </div>                        
                        </div>                        
                    </td>
                    <td style="width: 80%; vertical-align: top;">
                        <smartphone-directive-small name="Защитное стекло матовое" img-path="../../images/glases/glas1/glas1.jpg" 
                        description="Толщина: 0.2, покрытие матовое, для экрана 5" 
                        price="390" type="Защитные стекла"></smartphone-directive-small>
                        <smartphone-directive-small name="Защитное стекло глянцевое" img-path="../../images/glases/glas2/glas2.jpg"
                        description="Толщина: 0.1, покрытие глянцевое, для экрана 6" 
                        price="590" type="Защитные стекла"></smartphone-directive-small>                
                    </td>
                </tr>
            </table> 		    
        
            <br>

        </main>
	</div>

    <footer id="site-footer">
        <table class="footer-table">
            <tr>
                <td>
                    <h3 align="center">О нас</h3>
                    <ul class="footer-list" style="border-right: 2px solid #BEBEBE;">
                        <li><a href="../about_us/jur_info.html">Юридическая информация</a>
                        <li><a href="../about_us/news.html">Новости</a>
                        <li><a href="../about_us/vacancies.html">Вакансии</a>
                        <li><a href="../about_us/for_partners.html">Партнерам</a>
                    </ul>
                </td>
                <td>
                    <h3 align="center">Покупателям</h3>
                    <ul class="footer-list" style="border-right: 2px solid #BEBEBE;">
                        <li><a href="../for_buyers/bonuses.html">Бонусная программа</a>
                        <li><a href="../for_buyers/actions.html">Акции</a>
                        <li><a href="../for_buyers/shops_and_centers.html">Магазины и сервисные центры</a>
                        <li><a href="../for_buyers/delivery.html">Доставка</a>
                    </ul>
                </td>
                <td>
                    <h3 align="center">Мы в соц. сетях</h3>                    
                    <p align="center"><a href="https://vk.com/"><img style="vertical-align: middle;" ng-src='../../images/social/vk.png' width='50' height='50'></a>
                    <a href="https://www.facebook.com/"><img style="vertical-align: middle;" ng-src='../../images/social/fb.png' width='50' height='50'></a></p>
                    <p align="center"><a href="https://www.twitter.com/"><img style="vertical-align: middle;" ng-src='../../images/social/twitter.png' width='50' height='50'></a>
                    <a href="https://www.youtube.com/"><img style="vertical-align: middle;" ng-src='../../images/social/yt.png' width='50' height='50'></a></p>
                </td>
                <td>
                    <h3 align="center">Помощь</h3>
                    <ul class="footer-list" style="border-left: 2px solid #BEBEBE;">
                        <li><a href="../help/make_order.html">Как оформть заказ</a>
                        <li><a href="../help/payment_variants.html">Способы оплаты</a>
                        <li><a href="../help/product_return.html">Обмен и возврат товара</a>
                        <li><a href="../help/guarantees.html">Гарантийное обслуживание</a>
                    </ul>
                </td>
            </tr>
        </table>
        <p class="trademark">© 2017— Компания SuperSmarts</p>
    </footer>
    <div ng-app="chatConsultant">
		<frame-directive></frame-directive>
	</div>
<script src="../../bower_components/requirejs/require.js" data-main="../../js/main"></script>	
</body>
</html>